<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
    <style>
        a {
            text-decoration: none; /* Убираем стандартное подчеркивание */
            color: #007bff; /* Задаем цвет текста (можете выбрать другой цвет) */
            transition: color 0.3s ease; /* Анимация изменения цвета при наведении */
        }

        a:hover {
            color: #0056b3; /* Новый цвет при наведении */
        }
    </style>
</head>
<body>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="min-width: 250px; border: 1px solid #ccc; border-radius: 15px; padding: 10px;">
        <div style="font-size: 1.5rem">Поиск пользователей</div>
        <br/>
        <div>
            <form method="get" action="/search">
                <label for="query">Поиск: </label>
                <input type="text" id="query" name="query">
                <div style="height: 6px"></div>
                <input type="submit" value="Найти">
            </form>
        </div>
        <div style="height: 6px"></div>
        <a th:href="@{/{id}(id=${authenticatedUser.getId()})}">
            <button>Моя страница</button>
        </a>
        <div style="height: 8px"></div>
        <div th:each="user : ${result}">
            <div>
                <a th:href="@{/{id}(id=${user.getId()})}" th:text="${user.getName()+' '+user.getSurname()}"></a>
            </div>
            <div style="height: 6px"></div>

        </div>
    </div>
</div>
</body>
</html>